body(class="body")
  div(class="header")
    h1(class="titleH")
      a(href="/" class="title") The Bamboo Coder
    include menu.svg 
    div(class="desktopMenu")
      ul(class="desktopLinks")
        li(class="headList dli")
          a(href="/about" class="listLink") About
        li(class="headList dli")
          p(class="listDot") &#9679;
        li(class="headList dli")
          a(href="/blog" class="listLink") Blog
        li(class="headList dli")
          p(class="listDot") &#9679;
        li(class="headList dli")
          a(href="/projects" class="listLink") Projects
    div(class="mobileMenu")
      ul(class="links")
        li(class="headList")
          a(href="/about" class="listLink") About
        li(class="headList")
          a(href="/blog" class="listLink") Blog
        li(class="headList")
          a(href="/projects" class="listLink") Projects
  div(class="main")
    div(class="main-intro aboutSection")
      div(class="backgroundC")
        | !{content}
  //- footer(class="footer")
  //-   div(class="left")
  //-     | &#169;The Bamboo Coder - 2024
  //-   div(class="middle")
  //-   div(class="right")
  script(src="/index.js")
  include bamboo.svg
